.abouttitle {
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 275%;
    padding-top: 2%;
}

.maintext {
    line-height: 2.5;
    /* text-align: center; */
    padding-top: 8%;
    display: block;
    margin: auto;
}